#root,
body {
  background-color: var(--bgColor);
  --bgColor: #c1f5c6;
  --Primary-Color: #404c41;
  --secondary-Color: #6b7f6d;
  --secondary-bgColor: #d2fbd6;
  --hover-bgColor: #4b594c;
  --deep-bgColor: #addbb1;
}
